#container {
    display: flex;
    align-items: center;
}

#clock {
    padding: 10px;
    font-size: 24px;
    font-family: Arial, sans-serif;
}

    /* Estilos para a classe .image-container */
.image-container {
position: fixed;
top: 0;
right: 10px;
width: 300px; /* Largura desejada para a imagem */
height: 100vh;
z-index: 9999; /* Ajuste o valor do z-index conforme necessário para sobrepor o conteúdo */
display: flex;
justify-content: center;
align-items: center;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
}